@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap");
.theme-1 {
  background-color: #3a4764;
  color: white;
}
.theme-1 .wrapper {
  background-color: #3a4764;
}
.theme-1 .wrapper .number-display {
  background-color: #182034;
  color: white;
}
.theme-1 .wrapper .number-grid {
  background-color: #232c43;
}
.theme-1 .wrapper .number-grid .button {
  background-color: #eae3dc;
}
.theme-1 .wrapper .number-grid .number {
  color: #444b5a;
  box-shadow: 0px 5px 0px 0px #b4a597;
}
.theme-1 .wrapper .number-grid .number:active {
  box-shadow: none;
}
.theme-1 .wrapper .number-grid .reset, .theme-1 .wrapper .number-grid .equal, .theme-1 .wrapper .number-grid .delete {
  color: white;
}
.theme-1 .wrapper .number-grid .reset, .theme-1 .wrapper .number-grid .delete {
  background-color: #637097;
  box-shadow: 0px 5px 0px 0px #404e72;
}
.theme-1 .wrapper .number-grid .reset:active, .theme-1 .wrapper .number-grid .delete:active {
  box-shadow: none;
}
.theme-1 .wrapper .number-grid .equal {
  background-color: #d03f2f;
  box-shadow: 0px 5px 0px 0px #93261a;
}
.theme-1 .wrapper .number-grid .equal:active {
  box-shadow: none;
}
.theme-1 input[type=range]::-webkit-slider-runnable-track {
  background-color: #232c43;
}
.theme-1 input[type=range]::-webkit-slider-thumb {
  background-color: #d03f2f;
}
.theme-1 input[type=range]::-moz-range-track {
  background-color: #232c43;
}
.theme-1 input[type=range]::-moz-range-thumb {
  background-color: #d03f2f;
}

.theme-2 {
  background-color: #e6e6e6;
  color: #35352c;
}
.theme-2 .wrapper {
  background-color: #e6e6e6;
}
.theme-2 .number-display {
  background-color: #ededed;
  color: #35352c;
}
.theme-2 .number-grid {
  background-color: #d1cccc;
}
.theme-2 .number-grid .button {
  background-color: #e5e4e1;
}
.theme-2 .number-grid .number {
  color: #35352c;
  box-shadow: 0px 5px 0px 0px #a69d91;
}
.theme-2 .number-grid .number:active {
  box-shadow: none;
}
.theme-2 .number-grid .reset, .theme-2 .number-grid .equal, .theme-2 .number-grid .delete {
  color: white;
}
.theme-2 .number-grid .reset, .theme-2 .number-grid .delete {
  background-color: #377f86;
  box-shadow: 0px 5px 0px 0px #1b5f65;
}
.theme-2 .number-grid .reset:active, .theme-2 .number-grid .delete:active {
  box-shadow: none;
}
.theme-2 .number-grid .equal {
  background-color: #ca5502;
  box-shadow: 0px 5px 0px 0px #893901;
}
.theme-2 .number-grid .equal:active {
  box-shadow: none;
}
.theme-2 input[type=range]::-webkit-slider-runnable-track {
  background-color: #d1cccc;
}
.theme-2 input[type=range]::-webkit-slider-thumb {
  background-color: #ca5502;
}
.theme-2 input[type=range]::-moz-range-track {
  background-color: #d1cccc;
}
.theme-2 input[type=range]::-moz-range-thumb {
  background-color: #ca5502;
}

.theme-3 {
  background-color: #160628;
  color: #ffe53d;
}
.theme-3 .wrapper {
  background-color: #160628;
}
.theme-3 .number-display {
  background-color: #1d0934;
  color: #ffe53d;
}
.theme-3 .number-grid {
  background-color: #1d0934;
}
.theme-3 .number-grid .button {
  background-color: #341c4f;
}
.theme-3 .number-grid .number {
  color: #ffe53d;
  box-shadow: 0px 5px 0px 0px #871c9c;
}
.theme-3 .number-grid .number:active {
  box-shadow: none;
}
.theme-3 .number-grid .reset, .theme-3 .number-grid .delete {
  color: white;
  background-color: #58077d;
  box-shadow: 0px 5px 0px 0px #bc15f4;
}
.theme-3 .number-grid .reset:active, .theme-3 .number-grid .delete:active {
  box-shadow: none;
}
.theme-3 .number-grid .equal {
  background-color: #00e0d1;
  color: #1b2428;
  box-shadow: 0px 5px 0px 0px #6cf9f2;
}
.theme-3 .number-grid .equal:active {
  box-shadow: none;
}
.theme-3 input[type=range]::-webkit-slider-runnable-track {
  background-color: #1d0934;
}
.theme-3 input[type=range]::-webkit-slider-thumb {
  background-color: #00e0d1;
}
.theme-3 input[type=range]::-moz-range-track {
  background-color: #1d0934;
}
.theme-3 input[type=range]::-moz-range-thumb {
  background-color: #00e0d1;
}

input[type=range] {
  height: 30px;
  -webkit-appearance: none;
  margin: 0px 0px;
  width: 40%;
  padding-top: 10px;
  background: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 30px;
  cursor: pointer;
  border-radius: 30px;
  padding: 0px 5px;
}

input[type=range]::-webkit-slider-thumb {
  height: 20px;
  width: 20px;
  border-radius: 24px;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: 5px;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 30px;
  cursor: pointer;
  border-radius: 30px;
  padding: 0px 5px;
}

input[type=range]::-moz-range-thumb {
  border: none;
  height: 20px;
  width: 20px;
  border-radius: 24px;
  cursor: pointer;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  background-color: #3a4764;
  font-size: 32px;
  font-family: "Spartan";
}

.wrapper {
  padding: 15px;
  height: 100vh;
  display: flex;
  flex-flow: column;
}

p {
  padding: 0px;
  margin: 0px;
}
p.value {
  text-align: right;
  word-spacing: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .bar {
  font-size: 0.5em;
  text-align: right;
}
.header .bar label {
  display: inline-block;
  margin-right: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.number-display {
  width: 100%;
  height: 200px;
  border: none;
  border-radius: 15px;
  margin: 20px 0px;
  text-align: right;
  font-size: 1.5em;
  font-weight: 700;
  overflow: scroll;
  padding-right: 20px;
}

.number-grid {
  height: 100%;
  border-radius: 10px;
  padding: 20px;
  display: grid;
  width: 100%;
  grid-gap: 15px;
  grid-template-areas: "seven eight nine del" "four five six sum" "one two three minus" "point zero division mult" "reset reset equal equal";
  justify-items: stretch;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}
.number-grid .button {
  cursor: pointer;
  border-radius: 10px;
  font-size: inherit;
  font-weight: 700;
  border: none;
}
.number-grid .one {
  grid-area: one;
}
.number-grid .two {
  grid-area: two;
}
.number-grid .three {
  grid-area: three;
}
.number-grid .four {
  grid-area: four;
}
.number-grid .five {
  grid-area: five;
}
.number-grid .six {
  grid-area: six;
}
.number-grid .seven {
  grid-area: seven;
}
.number-grid .eight {
  grid-area: eight;
}
.number-grid .nine {
  grid-area: nine;
}
.number-grid .delete {
  grid-area: del;
  font-size: 1.2rem;
}
.number-grid .sum {
  grid-area: sum;
}
.number-grid .minus {
  grid-area: minus;
}
.number-grid .multiplication {
  grid-area: mult;
}
.number-grid .reset {
  grid-area: reset;
  background-color: blueviolet;
  font-size: 1.2rem;
}
.number-grid .equal {
  grid-area: equal;
}
.number-grid .point {
  grid-area: point;
}

@media only screen and (min-width: 450px) {
  .wrapper {
    margin: 10% 25%;
  }
}/*# sourceMappingURL=style.css.map */