
// Backgrounds
$main-background: hsl(268, 75%, 9%);
$toggle-background_keypad-background: hsl(268, 71%, 12%);
$screen-background: hsl(268, 71%, 12%);

//Keys
$key-background-1: hsl(281, 89%, 26%);
$key-shadow-1: hsl(285, 91%, 52%);

$key-background_toggle: hsl(176, 100%, 44%);
$key-shadow-2: hsl(177, 92%, 70%);

$key-background-1: hsl(268, 47%, 21%);
$key-shadow-3: hsl(290, 70%, 36%);

//Text
$text-color-1: hsl(52, 100%, 62%);
$text-color-2: hsl(0, 0, 100%);
///Very dark blue: hsl(198, 20%, 13%) 
