
// Backgrounds
$main-background: hsl(0, 0%, 90%);
$toggle-background_keypad-background: hsl(0, 5%, 81%);
$screen-background: hsl(0, 0%, 93%);

//Keys
$key-background-1: hsl(185, 42%, 37%);
$key-shadow-1: hsl(185, 58%, 25%);

$key-background_toggle: hsl(25, 98%, 40%);
$key-shadow-2: hsl(25, 99%, 27%);

$key-background-1: hsl(45, 7%, 89%);
$key-shadow-3: hsl(35, 11%, 61%);

//Text
$text-color-1: hsl(60, 10%, 19%);
$text-color-2: hsl(0, 0, 100%);
